[access]
	inheritFrom = All-Projects
[project]
	description = Gluster Unified File Object
[access "refs/*"]
	owner = group user/Gaurav (Gaurav-Gangalwar)
[access "refs/for/refs/*"]
	read = group user/Gaurav (Gaurav-Gangalwar)
	push = group user/Gaurav (Gaurav-Gangalwar)
	label-Code-Review = -2..+2 group user/Gaurav (Gaurav-Gangalwar)
	label-Verified = -1..+1 group user/Gaurav (Gaurav-Gangalwar)
	rebase = group user/Gaurav (Gaurav-Gangalwar)
	removeReviewer = group user/Gaurav (Gaurav-Gangalwar)
	submit = group user/Gaurav (Gaurav-Gangalwar)
[access "refs/heads/*"]
	read = group user/Gaurav (Gaurav-Gangalwar)
	create = group user/Gaurav (Gaurav-Gangalwar)
	push = +force group user/Gaurav (Gaurav-Gangalwar)
	pushMerge = group user/Gaurav (Gaurav-Gangalwar)
[access "refs/tags/*"]
	push = group user/Gaurav (Gaurav-Gangalwar)
	push = +force group user/Gaurav (Gaurav-Gangalwar)
